# OSX shitty Finder temporary files
*.DS_Store

# Others

*.blg
*.out
*.brf
*.spl
*.bbl
*.aux
*.synctex.gz
*.log
*.pyc
*~

*.aux
*.log
*.gz

Latex et python.pdf

Latex et python.log

*.gz

*.pdf

*.log

*.gz

*.aux

*.aux

*.log

*.pdf

*.gz
